build-tp2-Desktop-Debug/
build-tp2-Desktop-Release/
build-tp2-Desktop_Qt_6_3_2_MSVC2019_64bit-Debug
build-tp2-Desktop_Qt_6_3_2_MSVC2019_64bit-Release
build-tp2-Desktop_Qt_6_3_2_MSVC2019_64bit-Profile
